body {
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;

}

/* Estilos generales del formulario */
.BDJakaton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .formulario {
    background-color: #4050a7b4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formu-titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .item-1,
  .item-2,
  .item-3,
  .item-4,
  .item-6,
  .Escribenos {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .item-1,
  .item-2,
  .item-3,
  .item-4,
  .item-6 {
    height: 20px;
  }
  
  .Escribenos {
    height: 100px;
  }
  
  .boton {
    background-color: #109bdb;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: #4c9928;
  }
  
  .cuestion {
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  /* Estilos para hacer el formulario responsive */
  @media screen and (max-width: 600px) {
    .formulario {
      max-width: 300px;
    }
  
    .boton {
      width: 100%;
    }
  }
  